/*==============================*
 * HEADER Styling
 *==============================*/
header {
  margin: 20px 0;
}

header h1 {
  margin: 0;
}


/*==============================*
 * FOOTER Styling
 *==============================*/
footer {
  margin-top: 20px;
}


/*==============================*
 * HOME PAGE Styling
 *==============================*/
#home {

}


/*==============================*
 * STOCKS PAGE Styling
 *==============================*/
#stocks {

}


/*==============================*
 * PORTFOLIO PAGE Styling
 *==============================*/
#portfolio {

}