/*==============================*
 * OVERALL Styling
 *==============================*/
html, body {
  background: #fbfaf9;
  width: 100%;
  height: 100%;
}

body {
  padding: 20px;
}

body #white-bg {
  background: #fbfaf9;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
}

.box-group {
  background: #FFFFFF;
  border: 1px solid transparent;
  margin: 40px 0;
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(235,234,228,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(235,234,228,1);
  box-shadow: 0px 2px 2px 0px rgba(235,234,228,1);
}


/*==============================*
 * HEADER Styling
 *==============================*/
header {
  background: #002841;
  padding: 10px 0;
}
  /* Remove background and border from bootstraps navbar */
  header nav.navbar-default,
  header nav.navbar-collapse {
    background: transparent;
    border: 0 transparent;
    margin: 0;
    box-shadow: none;
  }

  /* Hover, and Static colours for site 'logo' */
  header nav.navbar a.navbar-brand {
    color: #e7ebed;
    text-shadow: none;
  }
    header nav.navbar a.navbar-brand:hover {
      color: #FFFFFF;
      text-decoration: none;
    }

  /* Active, Hover, and Static colours for page links */
  header .navbar-default .navbar-nav>.active>a,
  header .navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: #c4cdd3;
  }
  header .navbar-default .navbar-nav>li>a {
    background: transparent;
    color: #8d9395;
    text-shadow: none;
  }
  header .navbar-default .navbar-nav>li>a:hover {
    color: #c4cdd3;
  }

  /* Style the mobile menu horizontal lines */
  header .navbar-default .navbar-collapse {
    border: 0;
    border-top: 1px solid #26485d;
  }
  header .navbar-default .navbar-collapse, .navbar-default .navbar-form  {
    border: 0;
  }

  /* Small devices (tablets, 768px and up) */
  @media (max-width: 767px) {
    header .navbar-default .navbar-form>.col-xs-10 {
      padding-left: 0;
    }
  }


/*==============================*
 * FOOTER Styling
 *==============================*/
footer {
  color: #C2C2C2;
  margin-top: 20px;
}


/*==============================*
 * HOME PAGE Styling
 *==============================*/
#home {

}


/*==============================*
 * STOCKS PAGE Styling
 *==============================*/
#stocks {

}


/*==============================*
 * PORTFOLIO PAGE Styling
 *==============================*/
#portfolio {

}